.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.FirstName{
  width: 350px;
}
.LastName{
  margin-left: 15px;
  width: 350px;
}
.e-mail{
  width: 350px;
}
.mobileNumber{
  margin-left: 15px;
  width: 350px;
}
.nextButton{
  
  background-color: #0c3720;
  color: #FFFFFF !important;
}
.backButton{
  background-color: #0c3720;
  color: #FFFFFF !important;
  margin-right: 15px;
  margin-left: 17.5px;
}
.country{
  width: 350px !important;
  margin-left: 15px;
}
.pTag{
  margin-top: 10px;
  font-size: 20px;
}
.thirdBackButton{
  background-color: #0c3720;
  color: #FFFFFF !important;
  margin-right: 15px;
  margin-left: 17.5px;
  margin-top: 10px;
}
.thirdNextButton{
  background-color: #0c3720;
  color: #FFFFFF !important;
  margin-top: 10px;
}