.dashboard {
  padding: 0 10px;
  & .navigator {
    & .nav-wrapper {
      display: flex;
      & h1 {
      }
      & .icons {
        height: 26px;
        margin: auto 0 auto auto;

        & img {
          width: 26px;
          margin: 0 8px;
        }
      }
    }
    & .divider {
      background-color: var(--textColor);
      width: 95%;
      height: 0.4px;
      opacity: 0.4;
      margin: 2vh auto;
      border-radius: 15px;
    }
    & .your-events {
      padding-top: 2vh;
      & h2 {
        display: inline-block;
        margin: auto 0;
        font-weight: 600;
      }
      & span {
        display: inline-block;
        width: 30%;
        text-align: right;
        float: right;
        margin: auto 1vw auto 0;
        color: var(--callToActionColor);
        font-weight: 600;
        cursor: pointer;
      }
      & .event-card {
        margin-top: 5vh;
        box-shadow: 0px 0px 3px rgb(36, 36, 36);
        border-radius: 15px;
        width: 80%;
        padding-bottom: 1vh;
        & img {
          border-radius: 15px 15px 0 0;
          width: 100%;
          margin-top: 0;
          padding-top: 0;
        }
        & p {
          margin: 5px 0 0 0;
          padding-left: 10px;
        }
        & h3 {
          margin: 0 auto;
          max-width: 95%;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 2;
        }
        & h5 {
            padding-left: 10px;
            margin: 5px 0 5px 0;
        }
        & p {
            font-size: 10pt;
        }
        & .btn-wrapper{
            display: flex;

            & .button {
                // background-color: var(--callToActionColor);
                background-color: #1f8751;
                color: var(--textWhiteColor);
                display: flex;
                // padding: 12px 14px;
                padding: 12px 0;
                width: 70%;
                // color: #1f8751;
                color: var(--callToActionColor);
                // border-radius: 5px;
                border-radius: 10px;
                justify-content: center;
                vertical-align: middle;
                margin: 10px 0 2px 10px;

                & span{
                    justify-content: center;
                    margin: 0;
                    font-size: 13pt;
                }
    
                & img{
                    height: 16px;
                    width: 16px;
                    padding-right: 5px;
                    border-radius: 0;
                    margin: auto 0;
                    filter: invert(12%) sepia(31%) saturate(7466%) hue-rotate(147deg) brightness(95%) contrast(86%);
                    // filter: invert(38%) sepia(56%) saturate(551%) hue-rotate(96deg) brightness(98%) contrast(90%);
                }
                & img.caret{
                    width: 12px;
                    height: 12px;
                    margin: auto 0;
                    padding-left: 7px;
                }
            }
    
            & .button.share{
                width: 20%;
            }
        }
        
      }
    }
  }
}
