.dashboard {
  padding: 0 10px;
  & .navigator {
    .welcomer {
      display: inline-block;
    }
    .logout-icon {
      display: inline-block;
      width: 32px;
      height: 32px;
      float: right;
      padding: 15px;
      cursor: pointer;
    }
    & .nav-wrapper {
      display: flex;
      & h1 {
        font-size: 16pt;
      }
      & .icons {
        height: 20px;
        margin: auto 0 auto auto;

        & img {
          width: 20px;
          margin: 0 8px;
        }
      }
    }
    & .divider {
      background-color: var(--textColor);
      width: 95%;
      height: 0.4px;
      opacity: 0.4;
      margin: 2vh auto;
      border-radius: 15px;
    }
    & .your-events-navigators {
      padding-top: 3vh;
      & h2 {
        display: inline-block;
        margin: auto 0;
        font-weight: 600;
        font-size: 14pt;
      }
      & span {
        //   display: inline-block;
        width: 30%;
        text-align: right;
        float: right;
        margin: auto 1vw auto 0;
        color: var(--callToActionColor);
        font-weight: 600;
        cursor: pointer;
        font-size: 12pt;

        //   TODO: Ha rajta tartja a kurzort telefonon,
        //   villanjon fel a box amiben van
        //
        //   &:active{
        //     user-select: none;
        //     color: red;
        //   }
      }
    }
    & .your-events::-webkit-scrollbar {
      display: none;
    }
    & .your-events {
      -ms-overflow-style: none;
      scrollbar-width: none;
      padding-top: 2vh;
      overflow: scroll;
      width: 95vw;
      display: flex;
      // display: flex;
      // & h2 {
      //   display: inline-block;
      //   margin: auto 0;
      //   font-weight: 600;
      //   font-size: 14pt;
      // }
      // & span {
      //   display: inline-block;
      //   width: 30%;
      //   text-align: right;
      //   float: right;
      //   margin: auto 1vw auto 0;
      //   color: var(--callToActionColor);
      //   font-weight: 600;
      //   cursor: pointer;
      //   font-size: 12pt;
      // }
      & .event-card {
        margin-top: 5vh;
        margin: 1vh 3vw;
        box-shadow: 0px 0px 3px rgb(36, 36, 36);
        border-radius: 15px;
        width: 75svw;
        padding-bottom: 1vh;
        flex-shrink: 0;

        // &:active{
        //   background-color: #e1e1e1;
        // }

        & img {
          border-radius: 15px 15px 0 0;
          width: 100%;
          margin-top: 0;
          padding-top: 0;
        }
        & p {
          margin: 5px 0 0 0;
          padding-left: 10px;
        }
        & h3 {
          margin: 0 auto;
          max-width: 95%;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 2;
        }
        & h5 {
          padding-left: 10px;
          margin: 5px 0 5px 0;
        }
        & p {
          font-size: 10pt;
        }
        & .btn-wrapper {
          display: flex;

          & .button {
            // background-color: var(--callToActionColor);
            background-color: #1f8751;
            color: var(--textWhiteColor);
            display: flex;
            // padding: 12px 14px;
            padding: 10px 0;
            width: 70%;
            // color: #1f8751;
            color: var(--callToActionColor);
            // border-radius: 5px;
            border-radius: 10px;
            justify-content: center;
            vertical-align: middle;
            margin: 10px 0 2px 10px;

            & span {
              justify-content: center;
              margin: 0;
              font-size: 13pt;
            }

            & img {
              height: 16px;
              width: 16px;
              padding-right: 5px;
              border-radius: 0;
              margin: auto 0;
              filter: invert(12%) sepia(31%) saturate(7466%) hue-rotate(147deg)
                brightness(95%) contrast(86%);
              // filter: invert(38%) sepia(56%) saturate(551%) hue-rotate(96deg) brightness(98%) contrast(90%);
            }
            & img.caret {
              width: 12px;
              height: 12px;
              margin: auto 0;
              padding-left: 7px;
            }
          }

          & .button.share {
            width: 20%;
          }
        }
      }
    }
    .interested {
      & h2 {
        display: inline-block;
        margin: auto 0;
        font-weight: 600;
        font-size: 14pt;
      }
      & span {
        width: 35%;
        text-align: right;
        float: right;
        margin: auto 1vw auto 0;
        color: var(--callToActionColor);
        font-weight: 600;
        cursor: pointer;
        font-size: 12pt;
      }
      & .interested-card {
        & .event-card {
          margin: 3.5vh 3vw 1vh 3vw;
          box-shadow: 0px 0px 3px rgb(36, 36, 36);
          border-radius: 15px;
          width: 90svw;
          padding-bottom: 1vh;
          flex-shrink: 0;

          // &:active{
          //   background-color: #e1e1e1;
          // }

          & img {
            border-radius: 15px 15px 0 0;
            width: 100%;
            margin-top: 0;
            padding-top: 0;
          }
          & p {
            margin: 5px 0 0 0;
            padding-left: 10px;
          }
          & h3 {
            margin: 0 auto;
            max-width: 95%;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
          }
          & h5 {
            padding-left: 10px;
            margin: 5px 0 5px 0;
          }
          & p {
            font-size: 10pt;
          }
          & .btn-wrapper {
            display: flex;

            & .button {
              // background-color: var(--callToActionColor);
              background-color: #1f8751;
              color: var(--textWhiteColor);
              display: flex;
              // padding: 12px 14px;
              padding: 10px 0;
              width: 70%;
              // color: #1f8751;
              color: var(--callToActionColor);
              // border-radius: 5px;
              border-radius: 10px;
              justify-content: center;
              vertical-align: middle;
              margin: 10px 0 2px 10px;

              & span {
                justify-content: center;
                margin: 0;
                font-size: 13pt;
              }

              & img {
                height: 16px;
                width: 16px;
                padding-right: 5px;
                border-radius: 0;
                margin: auto 0;
                filter: invert(12%) sepia(31%) saturate(7466%)
                  hue-rotate(147deg) brightness(95%) contrast(86%);
                // filter: invert(38%) sepia(56%) saturate(551%) hue-rotate(96deg) brightness(98%) contrast(90%);
              }
              & img.caret {
                width: 12px;
                height: 12px;
                margin: auto 0;
                padding-left: 7px;
              }
            }

            & .button.share {
              width: 20%;
            }
          }
        }
      }
    }
    .footer {
      margin: 10vh 0 3vh 0;
    }
  }
}

// @media screen and (min-width: 576px) {
//   .event-card {
//     width: 300px !important;
//   }
// }

@media screen and (min-width: 976px) {
  .event-card {
    width: 300px !important;
    margin: 1vh 1vw !important;
    border-radius: 15px;
    padding-bottom: 1vh;
  }
  .interested-card {
    margin: 2vh auto;
    width: 90%;
    .event-card {
      width: 250px;
      display: inline-block;
    }
  }
}
