.product{
    width: 250px;
    height: 400px;
    margin-left: 30px;
    background-color: #FFFFFF;
}
.productPicture{
    width: 180px;
    height: 250px;

    margin-left: 35px;
}
.productName{
    margin-top: 12px;
    margin-left: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.productPrice{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    font-size: 24px;
}
.CartSubmitButton{
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    width: 190px;
    height: 30px;
}
.text-center{
    text-align: center;
    margin-top: 3px;
}