<section class="hero">
    <h1>(ide majd egy kép az oldalról egy telefonba vágva)</h1>
    <h5>Az újdonsűlt eseménykezelő applikáció, <span class="highlight">amit eddig kerestél</span>.</h5>
    <div class="callToActions">
      <button>Vágjunk bele!</button>
    </div>
  </section>
  <section class="why">
    <h2>Miért a <span>MeetWave</span>?</h2>
    <div class="why-box">
      <div class="icon-box">
        <img src="./assets/icons/person-fill.svg" class="icon">
      </div>
      <div class="text-box">
        <h3>Felhasználóbarát környezet</h3>
        <p>Törekedtünk arra, hogy egyszerűen tudj navigálni oldalunkon, és minden funkciót használhass.</p>
      </div>
    </div>
    <div class="why-box">
      <div class="icon-box">
        <img src="./assets/icons/calendar-fill.svg" class="icon">
      </div>
      <div class="text-box">
        <h3>Nagyon egyszerű eseménylétrehozás</h3>
        <p>Eseményeid akár pár kattintás után meg is tudod osztani, hogy felhasználóink visszajelzést adjanak rá.</p>
      </div>
    </div>
    <div class="why-box">
      <div class="icon-box">
        <img src="./assets/icons/link.svg" class="icon">
      </div>
      <div class="text-box">
        <h3>Könnyű kapcsolattartás</h3>
        <p>Eseményeid alatt bármikor kérdezhetnek, visszajelzést tudnak adni, vagy csak egyszerűen érdeklődésüket tudják jelölni, ezzel egyszerűbbé téve a kapcsolatfelvételt az eseményen résztvevőkkel.</p>
      </div>
    </div>
    <h5>Kell ennél jobb? <span class="highlight">Szerintünk sem.</span></h5>
  </section>
  <img src="./assets/icons/search-heart.svg" class="divider-icon">
  <section class="functions">
    <h1 class="gradient-text">„MeetFunctions“</h1>
    <!-- <h3>Applikációnk főbb funkciói</h3> -->
    <div class="functions-wrapper">
      <div class="function">
        <h5></h5>
        <h4 counter="1">Létrehozod saját eseményed, megosztod a <span class="gradient-text">MeetSharen</span> keresztül.</h4>
      </div>
      <div class="function">
        <h5></h5>
        <h4 counter="2">Barátaid, ismerőseid, vagy felhasználóink megismerhetik, és részt vehetnek eseményeden.</h4>
      </div>
      <div class="function">
        <h5></h5>
        <h4 counter="3">Eseményed alatt érdeklődési visszajelzést, és kommenteket kaphatsz,  így kommunikálva ügyfeleiddel, eseményed résztvevőivel.</h4>
      </div>
      <div class="function">
        <h5></h5>
        <h4 counter="4">Rendszerező eszközök</h4>
      </div>
    </div>
  </section>
  <section class="customers">
    <h1>Elégedett ügyfeleink képei</h1>
    <h5>Ügyfeleink által megosztott képek az app használatával.</h5>
  </section>
  <section class="subscriptions">
    <h1>Válaszd ki a neked legkézenfekvőbb csomagunkat!</h1>
    <h5>Jelenleg ez a három csomagunk közül tudsz választani.</h5>
    <div class="subscriptions-wrapper">
      <div class="subscription">
        <h1>Standard</h1>
        <h1>0.00 Ft</h1>
        <ul>
          <li>Legfeljebb 5 létrehozható esemény</li>
          <li>Korlátlan visszajelzési lehetőség</li>
          <li>Korlátlan kommentelési lehetőség</li>
        </ul>
      </div>
      <div class="subscription">
        <h1>Ezüst</h1>
        <h1>2000 Ft <span>/hó</span></h1>
        <ul>
          <li>Összes vendég funkció</li>
          <li>Korlátlan létrehozható esemény</li>
          <li>Hosszabb esemény leírási lehetőség</li>
          <li>Kiemelt szervezői jelvény</li>
        </ul>
      </div>
      <div class="subscription">
        <h1>Arany</h1>
        <h1>5000 Ft <span>/hó</span></h1>
        <ul>
          <li>Összes szervező funkció</li>
          <li>Videó posztolási lehetőség</li>
          <li>Kiemelt szervezői jelvény</li>
        </ul>
      </div>
    </div>
  </section>