.highlight{
    color: var(--callToActionColor);
    font-weight: 600;
    font-size: 16pt;
    display: block;
}

.gradient-text{
    background: linear-gradient(60deg, #09323f, #37b3b3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-text-lighter{
    background: linear-gradient(60deg, #1d9dc4, #4cf7f7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero{
    color: var(--textColor);
    height: 60vh;
    font-family: Sofia;
    // font-family: 'Poppins', sans-serif;
    & .welcome-banner{
        width: 60%;
        display: block;
        margin: 7svh auto 0 auto;
    }
    & h1{
        margin: 0;
        text-align: center;
        font-weight: 500;
        font-size: 26pt;
        padding: 10vh 5vw 0 5vw;
        height: 200px;
    }
    & h5{
        text-align: center;
        font-size: 12pt;
        margin-bottom: 0;
        text-wrap: wrap;
        width: 60%;
        margin: 0 auto;
    }
    & .highlight{
        padding: 0;
        text-align: center;
        font-weight: 600;
    }
    & .callToActions{
        margin-top: 25px;
        display: flex;
        justify-content: center;
        & button{
            font-size: 14pt;
            background-color: var(--callToActionColor);
            outline: none;
            border: none;
            padding: 13px 26px;
            color: var(--mainColor);
            border-radius: 30px;
            transition: all .25s ease-in-out;
            &:hover{
                background-color: var(--callToActionColorHover);
                cursor: pointer;
            }
        }
    }
}

.why{
    h2{
        text-align: center;
        font-size: 26pt;
        padding-bottom: 5vh;
        & span{
            background: linear-gradient(60deg, #09323f, #37b3b3);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 15px;
        }
    }

    .why-box{
        display: flex;
        margin-bottom: 30px;
        & .icon-box{
            width: 25%;
            display: flex;
            & .icon{
                margin-left: auto;
                padding-right: 25px;
                width: 32px;
                height: 32px;
                filter: invert(15%) sepia(16%) saturate(1938%) hue-rotate(95deg) brightness(98%) contrast(94%);
            }
        }
        & .text-box{
            width: 75%;
            & h3{
                margin: 5px 0;
            }
            & p{
                width: 80%;
                font-size: 14pt;
            }
        }
    }
    & h5{
        text-align: center;
        font-size: 20pt;
        & span{
            font-style: italic;
        }
    }
}

.divider-icon{
    filter: invert(15%) sepia(16%) saturate(1938%) hue-rotate(95deg) brightness(98%) contrast(94%);
    margin: 0 auto;
    display: block;
    width: 48px;
    padding: 5vh 0 5vh 0;
}

.functions{
    & h1{
        padding-bottom: 0;
        margin-bottom: 5vh;
        text-align: center;
    }
    & h3{
        margin: 0;
        text-align: center;
        font-style: italic;
        font-size: 12pt;
    }
    & .functions-wrapper{
        width: 80%;
        margin: 0 auto;
        border-radius: 15px;
        background-color: var(--mainColor);
        box-shadow: 0px 0px 2px rgb(36, 36, 36);
        color: var(--textColor);
        border-radius: 15px;
        padding: 15px 25px;

        & .function {
            display: flex;
            justify-content: center;
            
            // számozás
            & h5 {
                text-align: right;
                font-size: 25pt;
                padding: 10px;
                width: 20%;
            }
            // cím
            & h4 {
                margin: auto 0 auto 5vw;
                font-size: 14pt;
                padding: 3vh 0 3vh 3vw;
                width: 80%;
                position: relative;

                &::before{
                    content: attr(counter);
                    position: absolute;
                    font-size: 25pt;
                    color: var(--callToActionColorHover);
                    transform: translate(-1.2em);
                    font-weight: 800;
                }
            }
        }
        
    }
}

.subscriptions{
    padding-top: 5vh;
    h1{
        text-align: center;
        font-weight: 600;
        padding-bottom: 5vh;
    }

    & .subscription{
        padding: 15px 25px;
        width: 80%;
        // border: 1px solid red;
        margin: 3vh auto;
        border-radius: 15px;
        color: var(--textColor);


        & .most-popular{
            display: flex;
            justify-content: center;
            vertical-align: middle;
            & img{
                filter: invert(15%) sepia(16%) saturate(1938%) hue-rotate(95deg) brightness(98%) contrast(94%);
                width: 20px;
                height: 20px;
            }
            & h5{
                margin: 0 0 2.5vh 1vw;
                padding: 0;
                font-size: 12pt;
                color: var(--callToActionColor);
            }
        }

        & h2{
            text-align: center;
            font-weight: 800;
            margin: 0;
        }

        & h3{
            margin: 1vh 0 0 0;
            padding: 0;
            text-align: center;
            font-size: 10pt;
        }

        & ul{
            list-style-image: url('../../../assets/icons/check.svg');
            & li{
                font-size: 14pt;
            }
        }

        & button{
            outline: none;
            border: none;
            padding: 12px 20px;
            border-radius: 10px;
            display: block;
            margin: 0 auto;
            cursor: pointer;
        }

        & .btn-faded{
            color: var(--textColor);
            background-color: #c7c7c7;
            transition: all .2s ease-in-out;
            &:hover{
                background-color: #c1c0c0;
                box-shadow: 0 0 2px black;
            }
        }
        
        & .btn-main{
            color: var(--textWhiteColor);
            background-color: var(--callToActionColor);
            transition: all .2s ease-in-out;
            &:hover{
                background-color: #0a2f1b;
            }
        }
    }

    & .sub-faded{
        background-color: var(--mainColor);
    }

    & .sub-main{
        box-shadow: 0px 0px 2px rgb(36, 36, 36);
        background-color: #cacaca;
    }
}

.faq{
    padding-top: 10vh;
    width: 90%;
    margin: 0 auto;
    mat-expansion-panel{
        margin: 1vh 0;
    }
}

.footer{
    padding: 10vh 0 5vh 0;
    width: 90%;
    margin: 0 auto;
}