<section class="hero">
  <h1>(ide majd egy kép az oldalról egy telefonba vágva)</h1>
  <h5>
    Az újdonsűlt eseménykezelő applikáció,
    <span class="highlight">amit eddig kerestél</span>.
  </h5>
  <div class="callToActions">
    <button>Vágjunk bele!</button>
  </div>
</section>
<section class="why">
  <h2>Miért a <span>MeetWave</span>?</h2>
  <div class="why-box">
    <div class="icon-box">
      <img src="./assets/icons/person-fill.svg" class="icon" />
    </div>
    <div class="text-box">
      <h3>Felhasználóbarát környezet</h3>
      <p>
        Törekedtünk arra, hogy egyszerűen tudj navigálni oldalunkon, és minden
        funkciót használhass.
      </p>
    </div>
  </div>
  <div class="why-box">
    <div class="icon-box">
      <img src="./assets/icons/calendar-fill.svg" class="icon" />
    </div>
    <div class="text-box">
      <h3>Nagyon egyszerű eseménylétrehozás</h3>
      <p>
        Eseményeid akár pár kattintás után meg is tudod osztani, hogy
        felhasználóink visszajelzést adjanak rá.
      </p>
    </div>
  </div>
  <div class="why-box">
    <div class="icon-box">
      <img src="./assets/icons/link.svg" class="icon" />
    </div>
    <div class="text-box">
      <h3>Könnyű kapcsolattartás</h3>
      <p>
        Eseményeid alatt bármikor kérdezhetnek, visszajelzést tudnak adni, vagy
        csak egyszerűen érdeklődésüket tudják jelölni, ezzel egyszerűbbé téve a
        kapcsolatfelvételt az eseményen résztvevőkkel.
      </p>
    </div>
  </div>
  <h5>Kell ennél jobb? <span class="highlight">Szerintünk sem.</span></h5>
</section>
<img src="./assets/icons/search-heart.svg" class="divider-icon" />
<section class="functions">
  <h1 class="gradient-text">„MeetFunctions“</h1>
  <!-- <h3>Applikációnk főbb funkciói</h3> -->
  <div class="functions-wrapper">
    <div class="function">
      <h4 counter="1">
        Létrehozhatod saját eseményed, megoszthatod a
        <span class="gradient-text">MeetSharen</span> keresztül.
      </h4>
    </div>
    <div class="function">
      <h4 counter="2">
        Barátaid, ismerőseid, vagy felhasználóink megismerhetik, és részt
        vehetnek eseményeden.
      </h4>
    </div>
    <div class="function">
      <h4 counter="3">
        Eseményed alatt érdeklődési visszajelzést és kommenteket kaphatsz, így
        kapcsolatba tudsz lépni ügyfeleiddel, eseményed résztvevőivel.
      </h4>
    </div>
    <!-- <div class="function">
        <h5></h5>
        <h4 counter="4">Felügyelheted és rendszerezheted eseményeid</h4>
      </div> -->
  </div>
</section>
<!-- <section class="customers">
    <h1>Elégedett ügyfeleink képei</h1>
    <h5>Ügyfeleink által megosztott képek az app használatával.</h5>
  </section> -->
<section class="subscriptions">
  <h1>Hozz ki többet szolgáltatásunkból</h1>
  <div class="subscriptions-wrapper">
    <div class="subscription sub-faded">
      <h2>Alap</h2>
      <h3>Ingyenes</h3>
      <ul>
        <li>Legfeljebb 5 létrehozható esemény</li>
        <li>Korlátlan visszajelzési lehetőség</li>
        <li>Korlátlan kommentelési lehetőség</li>
      </ul>
      <button class="btn-faded">Vágjunk bele</button>
    </div>
    <div class="subscription sub-main">
      <div class="most-popular">
        <img src="./assets/icons/star-fill.svg" />
        <h5>Legnépszerűbb</h5>
      </div>
      <h2>Haladó</h2>
      <h3>HUF 2000 <span>/ hó</span></h3>
      <ul>
        <li>Összes alap funkció</li>
        <li>Korlátlan létrehozható esemény</li>
        <li>Hosszabb esemény leírási lehetőség</li>
        <li>Kiemelt haladói jelvény</li>
      </ul>
      <button class="btn-main">Tovább a profilra</button>
    </div>
    <div class="subscription sub-faded">
      <h2>Szervező</h2>
      <h3>HUF 5000 <span>/ hó</span></h3>
      <ul>
        <li>Összes haladó funkció</li>
        <li>Videó posztolási lehetőség</li>
        <li>Kiemelt szervezői jelvény</li>
      </ul>
      <button class="btn-faded">Szervező vagyok</button>
    </div>
  </div>
</section>
<section class="faq">
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Milyen fizetési lehetőségek vannak? </mat-panel-title>
        <!-- <mat-panel-description>
          Currently I am {{ panelOpenState ? "open" : "closed" }}
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>Oldalunkon jelenleg a Barion elektronikus fizetési szolgáltatást használja a biztonságos fizetés érdekében, ahol MasterCard, Maestro, Visa, Electron, és Amex bankkártyával lehetséges a fizetés, ha már rendelkezel Barion fiókkal, akár Barion tárcáddal is.</p>
    </mat-expansion-panel>
  
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Kötelező előfizetnem az oldal használatához? </mat-panel-title>
        <!-- <mat-panel-description>
          Currently I am {{ panelOpenState ? "open" : "closed" }}
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>Nem, szolgáltatásunk teljes mértékben használható egy újonnan regisztrált fiókkal is, amennyiben valakinek szüksége van több eseményre, jelentősen hosszabb leírásra, és egyéb extrákra, abban az esetben lehet szükséges az előfizetés.</p>
    </mat-expansion-panel>
  
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> kérdés3 </mat-panel-title>
        <!-- <mat-panel-description>
          Currently I am {{ panelOpenState ? "open" : "closed" }}
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>válasz3</p>
    </mat-expansion-panel>
  </mat-accordion>
</section>
<div class="footer">
  <app-footer></app-footer>
</div>