<div class="event">
    <img src="" class="banner">
    <h5 class="date"></h5>
    <h2 class="title"></h2>
    <div class="button-container">
        <button class="interested">Érdekel</button>
        <button class="wbthere">Ott leszek</button>
        <button class="else">...</button>
    </div>
    <div class="main-section">
        <div class="creator">
            <img src="">
            <h5>xy eseménye</h5>
        </div>
        <div class="place">
            <img src="">
            <h5>Tv torony</h5>
            <p>Pécs, Misina-tető, Pécs, 7630</p>
        </div>
        <div class="members">
            <img src="">
            <h5>xx ember ott lesz - xxx érdeklődő</h5>
        </div>
        <div class="tickets" onclick="">
            <img src="">
            <h5>Jegyek</h5>
            <p>oneticket.hu</p>
        </div>
        <div class="section-selector">
            <button class="description">Leírás</button>
            <button class="talking">Beszélgetés</button>
        </div>
    </div>
    <div class="description-page">
        <h2>Mi várható?</h2>
        <p class="description-text"></p>
        <div class="divider"></div>
        <div class="creators-section">
            <h3>Az esemény szervezői</h3>
            <div class="event-creator-card">
                <img src="">
                <h4>Nikovics</h4>
                <div class="divider"></div>
                <p class="creator-description">DJ</p>
            </div>

        </div>
    </div>
</div>