<div class="footer">
    <div class="header-text">
        <img src="./assets/images/logo_black.png">
        <h1>MeetWave</h1>
    </div>
    <p>Rendszerezd eseményeid hullámainkkal.</p>
    <h2>Tudj meg többet hullámainkról.</h2>
    <div class="divider"></div>
    <h5 (click)="navigateToTarget('services', 'welcome')" class="clickable">Szolgáltatásaink</h5>
    <h5 (click)="navigateToTarget('gyik', 'welcome')" class="clickable">GY.I.K</h5>
    <h5>Státusz</h5>

    <h2>Nyilvántartás</h2>
    <div class="divider"></div>
    <h5>Földvári Alex E.V.</h5>
    <h5>7628, Margit utca 11.</h5>
    <h5>Adószám: xy</h5>
    <h5>EU adószám: xy</h5>
    <h5>Nyilvántartási szám: xy</h5>

    <h2>Dokumentumok</h2>
    <div class="divider"></div>
    <h5>Általános szerződési feltételek</h5>
    <h5>Adatvédelmi tájékoztató</h5>
</div>
