<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>cégünk</h4>
                <ul>
                    <li><a href="#">rólunk </a></li>
                    <li><a href="#">általános szerződési feltélelek</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>információk</h4>
                <ul>
                    <li><a href="#">GYIK</a></li>
                    <li><a href="#">szállítás</a></li>
                    <li><a href="#">visszaküldés</a></li>
                    <li><a href="#">rendelés állapota</a></li>
                    <li><a href="#">fizetési lehetőségek</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>termékeink</h4>
                <ul>
                    <li><a href="#">órák</a></li>
                    <li><a href="#">táskák</a></li>
                    <li><a href="#">cipők</a></li>
                    <li><a href="#">ruhák</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>elérhetőségeink</h4>
                <div class="social-links">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>