<link rel="stylesheet" href="purchase-completing.component.scss">




<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Megrendelő adatai</ng-template>
      <mat-form-field class="FirstName" appearance="fill">
        <mat-label>Vezetéknév</mat-label>
        <input matInput placeholder="Vezetéknév" formControlName="firstCtrl" required>
      </mat-form-field>
      
      <mat-form-field class="LastName" appearance="fill">
        <mat-label>Keresztnév</mat-label>
        <input matInput placeholder="Keresztnév" formControlName="firstCtrl" required>
      </mat-form-field>
      <br>
      <mat-form-field class="e-mail" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" formControlName="firstCtrl" required>
      </mat-form-field>
      
      <mat-form-field class="mobileNumber" appearance="fill">
        <mat-label>Telefonszám</mat-label>
        <input matInput placeholder="Telefonszám" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button class="nextButton" mat-button matStepperNext>Következő</button>
      </div>
    </form>
  </mat-step>
  

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Szállítási cím</ng-template>
      <mat-form-field class="country" appearance="fill">
        <mat-label>Ország</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Utca" required>
      </mat-form-field>
      <mat-form-field class="country" appearance="fill">
        <mat-label>Város</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Város" required>
      </mat-form-field>
      <mat-form-field class="country" appearance="fill">
        <mat-label>Irányítószám</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Irányítószám" required>
      </mat-form-field>
      <br>
      <mat-form-field class="country" appearance="fill">
        <mat-label>Utca</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Utca" required>
      </mat-form-field>
      <mat-form-field class="country" appearance="fill">
        <mat-label>Házszám</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Házszám" required>
      </mat-form-field> 
      <br>
      <mat-form-field class="country" appearance="fill">
        <mat-label>Emelet</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Emelet" required>
      </mat-form-field>
      <mat-form-field class="country" appearance="fill">
        <mat-label>Ajtó</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ajtó" required>
      </mat-form-field>
      <div>
        <button class="backButton" mat-button matStepperPrevious>Vissza</button>
        <button class="nextButton" mat-button matStepperNext>Következő</button>
      </div>
    </form>
  </mat-step>



  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Fizetési mód</ng-template>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button class="creditCard" value="1">Bankkártyás</mat-radio-button>
        <br>
        <mat-radio-button class="radioButton" value="2">Utánvétes fizetés</mat-radio-button>
      </mat-radio-group>
      <div>
        <button class="thirdBackButton" mat-button matStepperPrevious>Vissza</button>
        <button class="thirdNextButton" mat-button matStepperNext>Következő</button>
      </div>
    </form>
  </mat-step>




  <mat-step>
    <ng-template matStepLabel>Kész</ng-template>
    <p class="pTag">Minden adatodat megadtad, a termék további részleteiről E-mail-ben értesítünk.</p>
    <div>
      <button class="backButton" mat-button matStepperPrevious>Adatok módosítása</button>
      <button class="nextButton" mat-button (click)="stepper.reset()">Vissza a főoldalra</button>
    </div>
  </mat-step>
</mat-stepper>





<p>purchase-completing works!</p>
