.card { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #0c3720;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .profileIcon{
    font-size: 75px;
  }
  .userNameProfile{
    font-size: 15px;
  }
  .secondRow{
    margin-left: 15%;
    margin-right: 15%;
    text-align: center !important;

  }
.shortProfileInformations{
  width: 125px;
  background-color: #FFFFFF;
  border-radius: 30px;
  align-items: center;
  padding: 8px;
  margin-right: 5px;
  margin-top: 10px;
  padding-left: 15px
}
.longProfileInformations{
  
  margin-top: 2%;
  width: 250px;
  background-color: #FFFFFF;
  border-radius: 30px;
  align-items: center;
  padding: 8px; 
  padding-left: 15px;
}
.rowTitle{
  text-align: center;
  font-size: 20px;
  margin: auto;

}