


<div class="row">
  <div class="col">
    <div class="card">
      <i class="bi bi-person-circle profileIcon"></i>  
      <h1 class="userNameProfile">Biskup Szabolcs</h1>
    <p>Vásárló</p>
  
    <p><button>Kép Módosítása</button></p>
    </div>
  </div>

  


      <div class="col">
        <p class="rowTitle">Vásárló Személyes Adatai</p>

        <div class="secondRow">
            <input class="shortProfileInformations" type="text" placeholder="Vezetéknév">
            <input class="shortProfileInformations" type="text" placeholder="Keresztnév">
            <br>
            <input class="longProfileInformations" type="text" placeholder="E-mail cím">
            <input class="longProfileInformations" type="text" placeholder="Jelszó">
            <input class="longProfileInformations" type="text" placeholder="Telefonszám">
            <input class="longProfileInformations" type="text" placeholder="Születési dátum">
        </div>

      </div>



      <div class="col">
        <p class="rowTitle">Vásárló Szállítási adatai</p>
        
        <div class="secondRow">
        <input class="shortProfileInformations" type="text" placeholder="Ország">
        <input class="shortProfileInformations" type="text" placeholder="Megye">
        <br>
        <input class="longProfileInformations" type="text" placeholder="Utca">
        <br>
        <input class="shortProfileInformations" type="text" placeholder="Irányítószám">
        <input class="shortProfileInformations" type="text" placeholder="Házszám">
        <br>
        <input class="shortProfileInformations" type="text" placeholder="Emelet">
        <input class="shortProfileInformations" type="text" placeholder="Ajtó">
      </div>
    </div>
</div>







