<p>admin-panel works!</p>

<button (click)="register()">reg teszt</button>
<button (click)="login()">login teszt</button>
<button (click)="signout()">logout</button>

<h4 class="error"></h4>

<form [formGroup]="product" (ngSubmit)="onSubmit()">
    Product neve: <input type="text" [formControlName]="'name'" required> Product ára: <input type="number" [formControlName]="'price'" required>
    <input type="file" [formArrayName]="'images'" class="file-upload" (change)="onFileSelected($event)" multiple>
    <button type="submit" class="btn btn-secondary" [disabled]="!product.valid">upload</button>
</form>


státusz: {{ product.status }}
<br> Valid: {{ product.valid }}

<div class="container row">
    <div class="col-6 blokk" *ngFor="let key of productsKey; index as i">
        <h4>Név: {{this.products[key].name}}</h4>
        <h4>Ár: {{this.products[key].price}} Forint</h4>
        <ng-container *ngFor="let image of this.products[key].images">
            <img [src]="image" style="width: 150px; height: 100px">
        </ng-container>
    </div>
</div>