<div class="container main col-11">
  <div class="container-fluid row">
    <div class="col-4">
      <div class="group">
        <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
          <g>
            <path
              d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
            </path>
          </g>
        </svg>
        <input placeholder="Termékek keresése.." type="text" class="input" [value]="keyword" (keydown.enter)="search($event)">
      </div>
      <div class="categories row">
        <div class="col-10 foundprods" *ngIf="searching">
            <p>Keresés a következőre: <b>{{keyword}}</b></p>
            <p><b>{{foundProducts.length}}</b> találat megjelenítése.</p>
            <button class="btn btn-secondary deleteSearch" (click)="deleteSearch()">Keresési eredmények törlése</button>
        </div>
        
        <h5 class="categoryH">Kategóriák</h5>
        <div class="category col-10" *ngFor="let case of cases">
          <span style="float: left" class="caseName" (click)="this.selectCategory(case.phone)">{{case.phone}}</span>
          <span style="float: right">({{case.piece}})</span>
        </div>
      </div>
    </div>
    <div class="col-8" style="border-left: 1px solid rgba(52, 63, 62, 0.4)">
      <div class="row justify-content-start product-list" style="padding-left: 5vw">

        
        <!-- card innen -->
        <ng-container *ngIf="searching == false">
          <div class="product col-4" *ngFor="let key of productsKey; index as i">
            <img class="productPicture" [src]="this.products[key].indeximage">
            <div class="productName">{{ this.products[key].name }}</div>
            <div class="productPrice">{{ this.products[key].price }} Ft</div>
            <div class="text-center CartButton">
              <button type="submit" class="text-center CartSubmitButton">KOSÁRBA</button>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="searching == true">
          <p class="noProdFound" *ngIf="foundProducts.length == 0">Nincs megjeleníthető termék.</p>
          <div class="product col-4" *ngFor="let key of foundProductsKey; index as i">
            <img class="productPicture" [src]="this.foundProducts[key].indeximage">
            <div class="productName">{{ this.foundProducts[key].name }}</div>
            <div class="productPrice">{{ this.foundProducts[key].price }} Ft</div>
            <div class="text-center CartButton">
              <button type="submit" class="text-center CartSubmitButton">KOSÁRBA</button>
            </div>
          </div>
        </ng-container>
        
        
        <!-- idáig -->

        <!-- <div class="product" >
    <h4>Név: </h4>
    <h4>Ár:  Forint</h4>
    <h4>Kategória: {{this.foundProducts[key].category}}</h4>
    <h4>Indexkép:</h4>
    <img  class="product-images">
    <h4>Összes kép:</h4>
    <ng-container *ngFor="let image of this.foundProducts[key].images">
      <img [src]="image" class="product-images" />
    </ng-container>
  </div> -->
      </div>
    </div>
  </div>

</div>