<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div class="center">
      <h1>Regisztráció</h1>
      <form method="post">
        <div class="reg">
        <div class="txt_field">
          <input type="email" required>
          <span></span>
          <label>E-mail cím</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Jelszó</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Jelszó megerősítése</label>
        </div>
          <div class="txt_field">
            <input type="tel" maxlength="11" required pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
            <span></span>
            <label>Telefonszám</label>
          </div>
        </div>
          <div>
          <h1>Szállítási adatok</h1>
          </div>
          <div class="delivery">
          <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Név</label>
          </div>
          <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Irányítószám</label>
          </div>
          <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Település</label>
          </div>
          <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Utca, házszám</label>
          </div>
        </div>
        <input type="submit" value="Login">
      </form>
    </div>

  </body>
</html>
