<nav class="navbar navbar-light background">
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/logo/logo.svg"
      width="75"
      height="75"
      class="d-inline-block WardrobeThreadsImgText"
      alt=""
    />
    WardrobeThreads
  </a>
  <div class="Profile">
    <i class="ProfileIcon bi bi-person-circle"></i>
  </div>
  <div class="CartBox">
    <i class="CartIcon bi bi-cart3"></i>
  </div>
  <div class="SearchBarBox">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input
      class="PlaceHolder"
      type="text"
      placeholder="Keresesel valamit?"
      name="Search"
    />
  </div>
</nav>
