<div class="main">
    <!-- <div class="container" *ngIf="this.currentUser">
        <h3>Üdvözlünk újra, {{this.currentUser.displayName}}! ({{this.currentUser.email}}) </h3>

        <h4>Utolsó bejelentkezés: {{lastLogin}}.</h4>
        <h4>Regisztráció ideje: {{regTime}}.</h4>
        <h5 *ngIf="isAdmin">Te admin vagy.</h5>

        <button class="btn btn-secondary" (click)="setAdmin(true)">admin on</button>
        <button class="btn btn-secondary" (click)="setAdmin(false)">admin off</button>
    </div> -->
    <div class="leaves">
        <div class="container-fluid col-8 wrap">
            <span>Egy menő, új tokot keresel?</span><br>
            <h4 class="showcase-text-main">GlamCase a te helyed.</h4>
            <button class="btn purchasebtn" routerLink="/products">Vásárlás most</button>
        </div>
    </div>
    <div class="empty"></div>

    <section class="container-fluid row col-11" style="margin-left: auto; margin-right: auto;">
        <div class="container col-3" animateOnScroll animationName="animate__animated animate__fadeInRight">
            <div class="icon col-2">
                <div class="circle">
                    <i class="bi bi-trophy-fill"></i>
                </div>
            </div>
            <div class="content col-10">
                <h4>Kiváló minőségű tokok</h4>
                <p>Számunkra a legfontosabb, hogy kiváló minőséget biztosítsunk ügyfeleink felé.</p>
            </div>
        </div>
        <div class="container col-3" animateOnScroll animationName="animate__animated animate__fadeInRight animate__delay-1s">
            <div class="icon col-2">
                <div class="circle">
                    <i class="bi bi-trophy-fill"></i>
                </div>
            </div>
            <div class="content col-10">
                <h4>Széles választék</h4>
                <p>Termékeink széleskörű választási lehetőségének köszönhetően szinte az összes Iphone készülékre válogathatsz tokjaink közül.</p>
            </div>
        </div>
        <div class="container col-3" animateOnScroll animationName="animate__animated animate__fadeInRight animate__delay-2s">
            <div class="icon col-2">
                <div class="circle">
                    <i class="bi bi-trophy-fill"></i>
                </div>
            </div>
            <div class="content col-10">
                <h4>Kiváló megbízhatóság</h4>
                <p>Számunkra mindig az ügyfelek az elsők, bármiről legyen szó, azonnali segítséggel.</p>
            </div>
        </div>
        <div class="container col-3" animateOnScroll animationName="animate__animated animate__fadeInRight animate__delay-3s">
            <div class="icon col-2">
                <div class="circle">
                    <i class="bi bi-trophy-fill"></i>
                </div>
            </div>
            <div class="content col-10">
                <h4>Gyors szállítás</h4>
                <p>Rendelésed leadását követően maximum 2 munkanapon belül megérkezik csomagod bárhova az országban.</p>
            </div>
        </div>
    </section>
    <section class="container-fluid featured-cases">
        <h1>Kiemelt termékeink</h1>
        <p class="feauted-paragraph">Legkeresettebb termékeink, legjobb áron.</p>

        <div class="container-fluid row products">
            <div class="container col-3 featured-product">
                <img src="../../../assets/main_page/featured-products/ip14_pro_szilikon_atlatszo.png">
                <p class="featured-product-name">Apple iPhone 14 Pro Max, Szilikon tok, átlátszó</p>
                <p class="featured-product-price">5490 Ft</p>
            </div>
            <div class="container col-3 featured-product">
                <img src="../../../assets/main_page/featured-products/ip14_pro_szilikon_atlatszo.png">
                <p class="featured-product-name">Apple iPhone 14 Pro Max, Szilikon tok, átlátszó</p>
                <p class="featured-product-price">5490 Ft</p>
            </div>
            <div class="container col-3 featured-product">
                <img src="../../../assets/main_page/featured-products/ip14_pro_szilikon_atlatszo.png">
                <p class="featured-product-name">Apple iPhone 14 Pro Max, Szilikon tok, átlátszó</p>
                <p class="featured-product-price">5490 Ft</p>
            </div>
            <div class="container col-3 featured-product">
                <img src="../../../assets/main_page/featured-products/ip14_pro_szilikon_atlatszo.png">
                <p class="featured-product-name">Apple iPhone 14 Pro Max, Szilikon tok, átlátszó</p>
                <p class="featured-product-price">5490 Ft</p>
            </div>
        </div>
    </section>
    <section class="container-fluid buynow">
        <h1>Vásárolj Most Online & Szerezz 10% Kedvezményt!</h1>
        <button class="btn purchasebtnTen" routerLink="/products">Vásárolj Most</button>
    </section>
</div>
