.leaves {
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../../../assets/main_page/phone-showcase.jpg");
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  vertical-align: center;
  flex-direction: column;
}

.showcase-text-main{
  font-size: 5rem;
  text-transform: uppercase;
  padding: 20px;
}

.leaves .wrap {
  margin: auto;
  display: inline-block;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leaves span,
.leaves h4 {
  color: white;
  width: 100%;
  display: inline-block;
}

.leaves span{
  font-size: 2rem;
  font-weight: 400;
}

.empty {
  height: 95vh;
  content: '';
}

.purchasebtn{
  background-color: #663f6b;
  color: white;
  padding: 1.5vh 1vw;
  scale: 1;
  transition: all .3s ease-in-out;
  font-weight: 400;
  width: 12vw;
  height: 9vh;
  font-size: 1.5rem;
}

.purchasebtn:hover{
  scale: 1.05;
  background-color: #76487c;
  color: white;
  // border: 3px solid #663f6b;
  font-weight: 450;
}

.icon, .content{
  display: inline-block;
}

.circle{
  display: flex;
  justify-content: center;
  vertical-align: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
}

.circle i{
  filter: brightness(0) saturate(100%) invert(16%) sepia(74%) saturate(2939%) hue-rotate(258deg) brightness(96%) contrast(95%);
}

.icon{
  display: inline-block;
}

.content{
  display: flex;
  flex-direction: column;
  float: right;
}


.circle i{
  margin: auto;
  color: white;
}

.featured-cases{
  margin-top: 5vh;
  padding-top: 5vh;
  padding-left: 3vw;
  padding-right: 3vw;
  background-color: rgb(206, 206, 206);
  & .feauted-paragraph{
    margin-top: 1.5vh;
    padding-bottom: 2vh;
    font-weight: 500;
  }
  & .featured-product-name{
    margin-top: 1vh;
  }
  & .featured-product-name, .featured-product-price{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
  }
  & .featured-product-price{
    padding-bottom: 2vh;
    padding-top: 1vh;
  }
  & .featured-product img{
    width: 21vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  & .products{
    padding: 0;
    margin: 0;
  }

  & h1{
    font-weight: 600;
    letter-spacing: .1rem;
  }
}

.buynow{
  padding-bottom: 7vh;
  & h1{
    text-align: center;
    padding-top: 10vh;
  }
  & .purchasebtnTen{
    background-color: #17653c;
    color: white;
    margin-top: 3vh;
    margin-left: auto;
    display: block;
    margin-right: auto;
    padding: 1.5vh 1vw;
    scale: 1;
    transition: all .3s ease-in-out;
    font-weight: 400;
  }
  
  & .purchasebtnTen:hover{
    scale: 1.05;
    background-color: var(--white);
    color: var(--green);
    border: 3px solid var(--green);
    font-weight: 500;
  }
}

