<nav class="navbar">
  <a class="navbar-brand">
    <img
      src="../../../assets/logo/glamcase-logo2.png"
      class="d-inline-block"
    />
  </a>
  <div class="toRight">
    <div class="searchbar-container">
      <!-- <i class="bi bi-search"></i> -->
      <input
        class="searchbar"
        type="search"
        placeholder="Keresés"
        name="Search"
        (keydown.enter)="search($event)"
        [ngStyle]="{'border': (activeRoute == 'MainPanelComponent') ? '1px solid #262c2b' : '1px solid white', 'box-shadow': (activeRoute == 'MainPanelComponent') ? 'none' : '0px 1px 14px 1px #343F3E'}"
        />
    </div>
    <div class="Profile">
      <i class="ProfileIcon bi bi-person-circle"></i>
      <span>{{ name || '...' | uppercase }}</span>
      <!-- <span *ngIf="activeRoute == 'MainPanelComponent'">helo</span> -->
    </div>
    <div class="CartBox">
      <i class="CartIcon bi bi-cart3"></i>
    </div>
  </div>
</nav>

<!-- <div class="SearchBarBox">
  <i class="fa fa-search" aria-hidden="true"></i>
  <input
    class="PlaceHolder"
    type="text"
    placeholder="Keresesel valamit?"
    name="Search"
    (keydown.enter)="search($event)"
  />
</div> -->

<!-- <nav class="navbar navbar-light background">
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/logo/logo.svg"
      width="75"
      height="75"
      class="d-inline-block WardrobeThreadsImgText"
      alt=""
    />
    <h1 class="h5 brand">WardrobeThreads</h1>
  </a>
  <div class="Profile">
    <i class="ProfileIcon bi bi-person-circle"></i>
  </div>
  <div class="CartBox">
    <i class="CartIcon bi bi-cart3"></i>
  </div>
  <div class="SearchBarBox">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input
      class="PlaceHolder"
      type="text"
      placeholder="Keresesel valamit?"
      name="Search"
      (keydown.enter)="search($event)"
    />
  </div>
</nav> -->
