<div class="navbar">
  <img src="./assets/images/logo.png" alt="meetwave logo" />
  <div class="navigations">
    <div class="navigation" [ngClass]="activeRoute == '/welcome' ? 'active' : ''" routerLink="/welcome">
      <img src="./assets/icons/house-door.svg" data-title="Kezdőlap" />
    </div>
    <div class="navigation" [ngClass]="activeRoute == '/events' ? 'active' : ''" routerLink="/events">
      <img src="./assets/icons/calendar-heart.svg" data-title="Események"  />
    </div>
    <div class="navigation" [ngClass]="activeRoute == '/friends' ? 'active' : ''" routerLink="/friends">
      <img src="./assets/icons/people-fill.svg" data-title="Ismerősök" />
    </div>
  </div>
  <div class="dropdown">
    <div class="profile">
        <img src="./assets/icons/person-circle.svg">
        <h3>Földvári Alex</h3>
    </div>
    <div class="divider"></div>
    <div class="settings">
        <img src="">
        <h3>Beállítások</h3>
    </div>
    <div class="feedback">
        <img src="">
        <h3>Visszajelzés küldése</h3>
    </div>
    <div class="logout">
        <img src="">
        <h3>Kijelentkezés</h3>
    </div>
  </div>
</div>
