<div class="navbar">
  <img src="./assets/images/logo.png" alt="meetwave logo" />
  <div class="navigations">
    <div
      class="navigation"
      [ngClass]="activeRoute == '/welcome' ? 'active' : ''"
      routerLink="/welcome"
    >
      <img src="./assets/icons/house-door.svg" data-title="Kezdőlap" />
    </div>
    <div
      class="navigation"
      [ngClass]="activeRoute == '/events' ? 'active' : ''"
      routerLink="/events"
    >
      <img src="./assets/icons/calendar-heart.svg" data-title="Események" />
    </div>
    <div
      class="navigation"
      [ngClass]="activeRoute == '/friends' ? 'active' : ''"
      routerLink="/friends"
    >
      <img src="./assets/icons/people-fill.svg" data-title="Ismerősök" />
    </div>
  </div>
  <div class="dropdown-open" (click)="showDropdown = !showDropdown">
    <img src="./assets/icons/person-circle.svg" />
    <div class="arrow"></div>
    <!-- <img src="./assets/icons/arrow-down-short.svg" class="arrow"> -->
  </div>
  <div class="dropdown" *ngIf="showDropdown">
    <div class="profile">
      <img src="./assets/icons/person-circle.svg" />
      <h3 *ngIf="user">{{user.fullName}}</h3>
      <h3 *ngIf="!user">Vendég</h3>
    </div>
    <div class="divider"></div>
    <div class="guest" *ngIf="!user">
      <div class="feedback">
        <div class="icon message"></div>
        <h3>Visszajelzés küldése</h3>
      </div>
      <div class="logout" routerLink="/login" (click)="showDropdown = false">
        <div class="icon logout-icon"></div>
        <h3>Bejelentkezés</h3>
      </div>
    </div>
    <div class="loggedin" *ngIf="user">
      <div class="settings">
        <div class="icon gear"></div>
        <h3>Beállítások</h3>
      </div>
      <div class="feedback">
        <div class="icon message"></div>
        <h3>Visszajelzés küldése</h3>
      </div>
      <div class="logout" *ngIf="user" (click)="logout()">
        <div class="icon logout-icon"></div>
        <h3>Kijelentkezés</h3>
      </div>
    </div>
    
    
    
  </div>
</div>
