// --mainColor: #d9d9d9;
// --callToActionColor: #0c3720;
// --callToActionColorHover: #1f8852;
// --textColor: #181818;
// --textWhiteColor: #f0f8ff;

.navbar {
  user-select: none;
  background-color: var(--callToActionColor);
  color: var(--textWhiteColor);
  height: 8dvh;
  display: flex;
  img {
    height: 100%;
    padding: 0 0 0 1vw;
  }
  .navigations {
    margin: 0 auto;
    .navigation {
      margin: auto 0;
      height: 90%;
      display: inline-block;
      img {
        width: 20px;
        padding: 0 2.5vw;
        transition: background-color 0.1s ease-in-out;
        position: relative;
        border-radius: 15px;

        &:hover {
          cursor: pointer;
          background-color: var(--callToActionColorHover);
        }
      }
    }
  }
  .dropdown-open {
    position: relative;
    cursor: pointer;

    img {
      width: 30px;
      padding: 0 1.5vw;
      border-radius: 100%;
    }
    .arrow {
      position: absolute;
      right: 1.1vw;
      bottom: 1.1vh;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: var(--callToActionColor)
        url("../../../assets/icons/caret-down.svg") no-repeat 40%;
      content: "";
    }
  }
  .dropdown {
    z-index: 2;
    position: absolute;
    // height: 350px;
    height: max-content;
    width: 250px;
    top: 8dvh;
    right: 1vw;
    background-color: var(--callToActionColor);
    border-radius: 0 0 15px 15px;
    padding: 2vh 1vw;
    .profile {
      padding: 2vh 1vh;
      border-radius: 10px;
      transition: background-color 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: var(--callToActionColorHover);
      }
    }
    .profile,
    .settings,
    .feedback,
    .logout {
      display: flex;
      vertical-align: middle;
      img {
        padding: 0;
        width: 28px;
      }
      h3 {
        margin: auto 0 auto 0.5vw;
        font-size: 12pt;
      }
    }
    .settings,
    .feedback,
    .logout {
      padding: 2vh 1vh;
      border-radius: 10px;
      margin: 1vh 0;
      transition: background-color 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: var(--callToActionColorHover);
      }
      .icon {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        padding: 5px;
        content: "";
      }
      h3 {
        font-size: 10pt;
      }
      // img{
      //     width: 22px;
      //     border-radius: 100%;
      //     background-color: #175a37;
      //     padding: 5px;
      // }
    }
  }
}

.active {
  border-bottom: 3px solid #fff;
}

.divider {
  height: 1px;
  background-color: var(--textWhiteColor);
  content: "";
  width: 100%;
  border-radius: 10px;
  display: block;
  margin: 2vh auto;
  opacity: 0.7;
}

.gear {
  background: #175a37 url("../../../assets/icons/gear.svg") no-repeat 50%;
}
.message {
  background: #175a37 url("../../../assets/icons/chat-right-quote.svg")
    no-repeat 50%;
}
.logout-icon {
  background: #175a37 url("../../../assets/icons/door-closed.svg") no-repeat 50%;
}
