button {
  background-color: var(--green);
  color: var(--white);
  margin: 10px;
}

.center {
  text-align: center;
}

.horizont {
  background: rgb(24, 24, 24);
  background: linear-gradient(
    90deg,
    rgba(24, 24, 24, 1) 0%,
    rgba(12, 55, 32, 1) 50%,
    rgba(24, 24, 24, 1) 100%
  );
  width: 40%;
  height: 3px;
  margin: auto;
  border-radius: 80%;
  margin-bottom: 2vh;
}

.product {
  background-color: var(--green);
  border-radius: 10px;
  color: var(--white);
  width: 65%;
  height: 40vh;
  margin: auto;
  margin-bottom: 2vh;
  padding: 2vh;
}

.product-images {
  width: 100px;
  height: 50px;
  margin-right: 5px;
  border-radius: 5px;
}

.product-list {
  overflow-y: scroll;
  height: 65vh;
}

.product-list::-webkit-scrollbar {
  display: none;
}

.product-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

// Form design

form .txt_field {
  position: relative;
  border-bottom: 2px solid var(--black);
  margin: auto;
  width: 50%;
  margin-top: 5vh;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: var(--black);
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: var(--black);
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--green);
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: var(--black);
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.uploadbtn {
  display: inline-block;
  background-color: var(--green);
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.buttons {
  justify-content: center;
  text-align: center;
}

.buttons > label {
  margin: 1vh;
  margin-top: 2vh;
}

.deleteIco:hover {
  cursor: pointer;
}

// Dropdown menü

select {
  width: 300px;
  padding: 12px;
  border: 0 !important;
  background-color: var(--green);
  color: var(--white);
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  // Lefele nyíl svg ikonja
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: 0.6em;
  background-position: calc(100% - 1.3em) center;
  background-repeat: no-repeat;
}
select::-ms-expand {
  display: none;
}

option:disabled{
  color: white;
  text-align: center;
}
