<!-- 

<h4 class="error"></h4>

<form [formGroup]="product" (ngSubmit)="onSubmit()">
  Product neve:
  <input type="text" [formControlName]="'name'" required /> Product ára:
  <input type="number" [formControlName]="'price'" required />
  <input
    type="file"
    [formArrayName]="'images'"
    class="file-upload"
    (change)="onFileSelected($event)"
    multiple
  />
  <button type="submit" class="btn btn-secondary" [disabled]="!product.valid">
    upload
  </button>
</form>

státusz: {{ product.status }} <br />
Valid: {{ product.valid }}

<div class="container row">
  <div class="col-6 blokk" *ngFor="let key of productsKey; index as i">
    <h4>Név: {{ this.products[key].name }}</h4>
    <h4>Ár: {{ this.products[key].price }} Forint</h4>
    <ng-container *ngFor="let image of this.products[key].images">
      <img [src]="image" style="width: 150px; height: 100px" />
    </ng-container>
  </div>
</div> -->
<button (click)="register()" class="btn">reg teszt</button>
<button (click)="login()" class="btn">login teszt</button>
<button (click)="signout()" class="btn">logout</button>
<button (click)="setAdmin(true)" class="btn">admin be</button>
<button (click)="setAdmin(false)" class="btn">admin ki</button>
<div class="container-fluid row">
  <div class="col-6 left">
    <h4 class="center">Új termék feltöltése</h4>
    <div class="horizont"></div>
    <form [formGroup]="product" (ngSubmit)="onSubmit()">
      <div class="txt_field">
        <input type="text" [formControlName]="'name'" required />
        <span></span>
        <label>Termék megnevezése</label>
      </div>
      <div class="txt_field">
        <input
          type="number"
          [formControlName]="'price'"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
          required
        />
        <span></span>
        <label>Termék ára</label>
      </div>
      <div class="container buttons">
        <input
          type="file"
          id="multipleimages"
          [formArrayName]="'images'"
          class="file-upload"
          (change)="onFileSelected($event)"
          multiple
          hidden
        />
        <label for="multipleimages" class="uploadbtn">Képek feltöltése</label>
        <h5>
          {{ this.product.value.images.length }}/5 feltöltött kép
          <span
            (click)="deleteImages('multiple')"
            class="deleteIco"
            *ngIf="this.product.value.images.length > 0"
            ><i class="bi bi-x"></i
          ></span>
        </h5>
        <input
          type="file"
          id="mainimage"
          [formArrayName]="'indeximage'"
          class="file-upload"
          (change)="onFileSelected2($event)"
          hidden
        />
        <label for="mainimage" class="uploadbtn">Indexkép feltöltése</label>
        <h5>
          {{ this.product.value.indeximage.length }}/1 feltöltött kép
          <span
            (click)="deleteImages('index')"
            class="deleteIco"
            *ngIf="this.product.value.indeximage.length > 0"
            ><i class="bi bi-x"></i
          ></span>
        </h5>
      </div>

      <select [formControlName]="'phoneCategory'" aria-invalid="false" required ngModel="default">
        <option value="default" disabled selected>Válassz telefon fajtát</option>
        <option value="default2" disabled></option>
        <option *ngFor="let case of cases" [value]="case.phone">
          {{ case.phone }}
        </option>
      </select>

      <button
        type="submit"
        class="btn btn-secondary"
        [disabled]="!product.valid"
      >
        upload
      </button>
    </form>
  </div>
  <div class="col-6 right">
    <h4 class="center">Jelenlegi termékek</h4>
    <div class="horizont"></div>
    <div class="row product-list">
      <div class="product" *ngFor="let key of productsKey; index as i">
        <h4>Név: {{ this.products[key].name }}</h4>
        <h4>Ár: {{ this.products[key].price }} Forint</h4>
        <h4>Kategória: {{this.products[key].category}}</h4>
        <h4>Indexkép:</h4>
        <img [src]="this.products[key].indeximage" class="product-images">
        <h4>Összes kép:</h4>
        <ng-container *ngFor="let image of this.products[key].images">
          <img [src]="image" class="product-images" />
        </ng-container>
      </div>
    </div>
  </div>
</div>
