<div class="main">
    <!-- <div class="container" *ngIf="this.currentUser">
        <h3>Üdvözlünk újra, {{this.currentUser.displayName}}! ({{this.currentUser.email}}) </h3>

        <h4>Utolsó bejelentkezés: {{lastLogin}}.</h4>
        <h4>Regisztráció ideje: {{regTime}}.</h4>
        <h5 *ngIf="isAdmin">Te admin vagy.</h5>

        <button class="btn btn-secondary" (click)="setAdmin(true)">admin on</button>
        <button class="btn btn-secondary" (click)="setAdmin(false)">admin off</button>
    </div> -->
    <div class="leaves">
        <div class="container col-6 wrap">
            <span>Díszítenéd otthonod?</span><br>
            <h4 class="h2">GreenGarden a te helyed.</h4><br>
            <button class="btn purchasebtn">Vásárlás most</button>
        </div>
    </div>
    <div class="empty"></div>

    <section class="container-fluid row">
        <div class="container col-3">
            <div class="icon col-2">
                <div class="circle">
                    <i class="bi bi-trophy-fill"></i>
                </div>
            </div>
            <div class="content col-10">
                <h4>Ez egy cím</h4>
                <p>Ez egy szöveg a kártyához.</p>
            </div>
        </div>
        <div class="container col-3">
            <div class="icon col-2">
                <div class="circle">
                    <i class="bi bi-trophy-fill"></i>
                </div>
            </div>
            <div class="content col-10">
                <h4>Ez egy cím</h4>
                <p>Ez egy szöveg a kártyához.</p>
            </div>
        </div>
        <div class="container col-3">
            <div class="icon col-2">
                <div class="circle">
                    <i class="bi bi-trophy-fill"></i>
                </div>
            </div>
            <div class="content col-10">
                <h4>Ez egy cím</h4>
                <p>Ez egy szöveg a kártyához.</p>
            </div>
        </div>
        <div class="container col-3">
            <div class="icon col-2">
                <div class="circle">
                    <i class="bi bi-trophy-fill"></i>
                </div>
            </div>
            <div class="content col-10">
                <h4>Ez egy cím</h4>
                <p>Ez egy szöveg a kártyához.</p>
            </div>
        </div>
    </section>
</div>