<div class="main">
    <!-- <div class="container" *ngIf="this.currentUser">
        <h3>Üdvözlünk újra, {{this.currentUser.displayName}}! ({{this.currentUser.email}}) </h3>

        <h4>Utolsó bejelentkezés: {{lastLogin}}.</h4>
        <h4>Regisztráció ideje: {{regTime}}.</h4>
        <h5 *ngIf="isAdmin">Te admin vagy.</h5>

        <button class="btn btn-secondary" (click)="setAdmin(true)">admin on</button>
        <button class="btn btn-secondary" (click)="setAdmin(false)">admin off</button>
    </div> -->
    <div class="leaves">
        <div class="container col-6 wrap">
            <span>Díszítenéd otthonod?</span><br>
            <h4 class="h2">GreenGarden a te helyed.</h4><br>
            <button class="btn purchasebtn">Vásárlás most</button>
        </div>
    </div>
    <div class="empty"></div>

    <section class="container-fluid row col-11" style="margin-left: auto; margin-right: auto;">
        <div class="container col-3" animateOnScroll animationName="animate__animated animate__fadeInRight">
            <div class="icon col-2">
                <div class="circle">
                    <i class="bi bi-trophy-fill"></i>
                </div>
            </div>
            <div class="content col-10">
                <h4>Ez egy cím</h4>
                <p>Ez egy szöveg a kártyához.</p>
            </div>
        </div>
        <div class="container col-3" animateOnScroll animationName="animate__animated animate__fadeInRight animate__delay-1s">
            <div class="icon col-2">
                <div class="circle">
                    <i class="bi bi-trophy-fill"></i>
                </div>
            </div>
            <div class="content col-10">
                <h4>Ez egy cím</h4>
                <p>Ez egy szöveg a kártyához.</p>
            </div>
        </div>
        <div class="container col-3" animateOnScroll animationName="animate__animated animate__fadeInRight animate__delay-2s">
            <div class="icon col-2">
                <div class="circle">
                    <i class="bi bi-trophy-fill"></i>
                </div>
            </div>
            <div class="content col-10">
                <h4>Ez egy cím</h4>
                <p>Ez egy szöveg a kártyához.</p>
            </div>
        </div>
        <div class="container col-3" animateOnScroll animationName="animate__animated animate__fadeInRight animate__delay-3s">
            <div class="icon col-2">
                <div class="circle">
                    <i class="bi bi-trophy-fill"></i>
                </div>
            </div>
            <div class="content col-10">
                <h4>Ez egy cím</h4>
                <p>Ez egy szöveg a kártyához.</p>
            </div>
        </div>
    </section>
    <section class="container-fluid featured-cases">
        <h1>Kiemelt termékeink</h1>
        <p class="feauted-paragraph">Legkeresettebb termékeink, a legjobb áron.</p>

        <div class="container-fluid row products">
            <div class="container col-3 featured-product">
                <img src="../../../assets/main_page/featured-products/ip14_pro_szilikon_atlatszo.png">
                <p class="featured-product-name">Apple iPhone 14 Pro Max, Szilikon tok, átlátszó</p>
                <p class="featured-product-price">5490 Ft</p>
            </div>
            <div class="container col-3 featured-product">
                <img src="../../../assets/main_page/featured-products/ip14_pro_szilikon_atlatszo.png">
                <p class="featured-product-name">Apple iPhone 14 Pro Max, Szilikon tok, átlátszó</p>
                <p class="featured-product-price">5490 Ft</p>
            </div>
            <div class="container col-3 featured-product">
                <img src="../../../assets/main_page/featured-products/ip14_pro_szilikon_atlatszo.png">
                <p class="featured-product-name">Apple iPhone 14 Pro Max, Szilikon tok, átlátszó</p>
                <p class="featured-product-price">5490 Ft</p>
            </div>
            <div class="container col-3 featured-product">
                <img src="../../../assets/main_page/featured-products/ip14_pro_szilikon_atlatszo.png">
                <p class="featured-product-name">Apple iPhone 14 Pro Max, Szilikon tok, átlátszó</p>
                <p class="featured-product-price">5490 Ft</p>
            </div>
        </div>
        
    </section>
</div>