.leaves {
  background-image: url("../../../assets/main_page/leaves-main-page.jpg");
  height: 83vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  vertical-align: center;
}

.leaves span{
    margin-top: auto;
    margin-bottom: auto;
    color: white;   
}

.empty{
    height: 73vh;
    content: '';
}
